.colorpicker-saturation{width:100px;height:100px;background-image:url(../images/bootstrap-colorpicker/saturation.png);cursor:crosshair;float:left}
.colorpicker-saturation i{display:block;height:5px;width:5px;border:1px solid #000;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;position:absolute;top:0;left:0;margin:-4px 0 0 -4px}
.colorpicker-saturation i b{display:block;height:5px;width:5px;border:1px solid #fff;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}
.colorpicker-alpha,
.colorpicker-hue{width:15px;height:100px;float:left;cursor:row-resize;margin-left:4px;margin-bottom:4px}
.colorpicker-alpha i,
.colorpicker-hue i{display:block;height:1px;background:#000;border-top:1px solid #fff;position:absolute;top:0;left:0;width:100%;margin-top:-1px}
.colorpicker-hue{background-image:url(../images/bootstrap-colorpicker/hue.png)}
.colorpicker-alpha{background-image:url(../images/bootstrap-colorpicker/alpha.png);display:none}
.colorpicker-alpha,
.colorpicker-hue,
.colorpicker-saturation{background-size:contain}
.colorpicker{padding:4px;min-width:130px;margin-top:1px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;z-index:2500}
.colorpicker:after,
.colorpicker:before{display:table;content:"";line-height:0}
.colorpicker:after{clear:both}
.colorpicker:before{content:'';display:inline-block;border-left:7px solid transparent;border-right:7px solid transparent;border-bottom:7px solid #ccc;border-bottom-color:rgba(0,0,0,.2);position:absolute;top:-7px;left:6px}
.colorpicker:after{content:'';display:inline-block;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:6px solid #fff;position:absolute;top:-6px;left:7px}
.colorpicker div{position:relative}
.colorpicker.colorpicker-with-alpha{min-width:140px}
.colorpicker.colorpicker-with-alpha .colorpicker-alpha{display:block}
.colorpicker-color{height:10px;margin-top:5px;clear:both;background-image:url(../images/bootstrap-colorpicker/alpha.png);background-position:0 100%}
.colorpicker-color div{height:10px}
.colorpicker-selectors{display:none;height:10px;margin-top:5px;clear:both}
.colorpicker-selectors i{cursor:pointer;float:left;height:10px;width:10px}
.colorpicker-selectors i+i{margin-left:3px}
.colorpicker-element .add-on i,
.colorpicker-element .input-group-addon i{display:inline-block;cursor:pointer;height:16px;vertical-align:text-top;width:16px}
.colorpicker.colorpicker-inline{position:relative;display:inline-block;float:none;z-index:auto}
.colorpicker.colorpicker-horizontal{width:110px;min-width:110px;height:auto}
.colorpicker.colorpicker-horizontal .colorpicker-saturation{margin-bottom:4px}
.colorpicker.colorpicker-horizontal .colorpicker-color{width:100px}
.colorpicker.colorpicker-horizontal .colorpicker-alpha,
.colorpicker.colorpicker-horizontal .colorpicker-hue{width:100px;height:15px;float:left;cursor:col-resize;margin-left:0;margin-bottom:4px}
.colorpicker.colorpicker-horizontal .colorpicker-alpha i,
.colorpicker.colorpicker-horizontal .colorpicker-hue i{display:block;height:15px;background:#fff;position:absolute;top:0;left:0;width:1px;border:none;margin-top:0}
.colorpicker.colorpicker-horizontal .colorpicker-hue{background-image:url(../images/bootstrap-colorpicker/hue-horizontal.png)}
.colorpicker.colorpicker-horizontal .colorpicker-alpha{background-image:url(../images/bootstrap-colorpicker/alpha-horizontal.png)}
.colorpicker.colorpicker-hidden{display:none}
.colorpicker.colorpicker-visible{display:block}
.colorpicker-inline.colorpicker-visible{display:inline-block}
.colorpicker-right:before{left:auto;right:6px}
.colorpicker-right:after{left:auto;right:7px}
.colorpicker-no-arrow:before{border-right:0;border-left:0}
.colorpicker-no-arrow:after{border-right:0;border-left:0}
a{text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,0);color:#0160d7}
a:link,
a:active,
a.active{text-decoration:none}
a:hover,
a:focus{text-decoration:none;color:#0160d7;outline:none}
textarea:focus{outline:none}
html,
body{font-family:'Roboto',sans-serif;font-size:14px;color:#333;-webkit-text-size-adjust:none;-webkit-font-smoothing:antialiased;-moz-font-smoothing:antialiased;background:transparent}
body{overflow-x:hidden}
.text-left{text-align:left}
.text-right{text-align:right}
.text-center{text-align:center}
.width50{width:50%}
.font0{font-size:0}
.noresize{resize:none}
.overlow-hidden{overflow:hidden}
.ico{background-image:url('../images/icon.png');background-repeat:no-repeat;display:block}
.text-center img{margin:10px auto;max-width:100%}
.preloader{position:fixed;top:0;left:0;right:0;bottom:0;background-color:#fefefe;z-index:99999;height:100%;width:100%;overflow:hidden!important}
.cssload-box-loading{width:49px;height:49px;margin:auto;position:absolute;left:0;right:0;top:0;bottom:0}
.cssload-box-loading:before{content:'';width:49px;height:5px;background:rgb(0,0,0);opacity:0.1;position:absolute;top:58px;left:0;border-radius:50%;animation:shadow 0.58s linear infinite;-o-animation:shadow 0.58s linear infinite;-ms-animation:shadow 0.58s linear infinite;-webkit-animation:shadow 0.58s linear infinite;-moz-animation:shadow 0.58s linear infinite}
.cssload-box-loading:after{content:'';width:49px;height:49px;background:#24abe2;position:absolute;top:0;left:0;border-radius:3px;animation:cssload-animate 0.58s linear infinite;-o-animation:cssload-animate 0.58s linear infinite;-ms-animation:cssload-animate 0.58s linear infinite;-webkit-animation:cssload-animate 0.58s linear infinite;-moz-animation:cssload-animate 0.58s linear infinite}
@keyframes cssload-animate{
    17%{border-bottom-right-radius:3px}
    25%{transform:translateY(9px) rotate(22.5deg)}
    50%{transform:translateY(18px) scale(1,0.9) rotate(45deg);border-bottom-right-radius:39px}
    75%{transform:translateY(9px) rotate(67.5deg)}
    100%{transform:translateY(0) rotate(90deg)}
}
@-o-keyframes cssload-animate{
    17%{border-bottom-right-radius:3px}
    25%{-o-transform:translateY(9px) rotate(22.5deg)}
    50%{-o-transform:translateY(18px) scale(1,0.9) rotate(45deg);border-bottom-right-radius:39px}
    75%{-o-transform:translateY(9px) rotate(67.5deg)}
    100%{-o-transform:translateY(0) rotate(90deg)}
}
@-ms-keyframes cssload-animate{
    17%{border-bottom-right-radius:3px}
    25%{-ms-transform:translateY(9px) rotate(22.5deg)}
    50%{-ms-transform:translateY(18px) scale(1,0.9) rotate(45deg);border-bottom-right-radius:39px}
    75%{-ms-transform:translateY(9px) rotate(67.5deg)}
    100%{-ms-transform:translateY(0) rotate(90deg)}
}
@-webkit-keyframes cssload-animate{
    17%{border-bottom-right-radius:3px}
    25%{-webkit-transform:translateY(9px) rotate(22.5deg)}
    50%{-webkit-transform:translateY(18px) scale(1,0.9) rotate(45deg);border-bottom-right-radius:39px}
    75%{-webkit-transform:translateY(9px) rotate(67.5deg)}
    100%{-webkit-transform:translateY(0) rotate(90deg)}
}
@-moz-keyframes cssload-animate{
    17%{border-bottom-right-radius:3px}
    25%{-moz-transform:translateY(9px) rotate(22.5deg)}
    50%{-moz-transform:translateY(18px) scale(1,0.9) rotate(45deg);border-bottom-right-radius:39px}
    75%{-moz-transform:translateY(9px) rotate(67.5deg)}
    100%{-moz-transform:translateY(0) rotate(90deg)}
}
@keyframes shadow{
    0%,
    100%{transform:scale(1,1)}
    50%{transform:scale(1.2,1)}
}
@-o-keyframes shadow{
    0%,
    100%{-o-transform:scale(1,1)}
    50%{-o-transform:scale(1.2,1)}
}
@-ms-keyframes shadow{
    0%,
    100%{-ms-transform:scale(1,1)}
    50%{-ms-transform:scale(1.2,1)}
}
@-webkit-keyframes shadow{
    0%,
    100%{-webkit-transform:scale(1,1)}
    50%{-webkit-transform:scale(1.2,1)}
}
@-moz-keyframes shadow{
    0%,
    100%{-moz-transform:scale(1,1)}
    50%{-moz-transform:scale(1.2,1)}
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{transition:background-color 5000s ease-in-out 0s;-webkit-transition:background-color 5000s ease-in-out 0s;-webkit-box-shadow:0 0 0px 1000px #fff inset}
.btn{-webkit-transition:all 0.3s ease;transition:all 0.3s ease;}
.open>.dropdown-toggle.btn-default {background: #fff;box-shadow: none;}
.btn:focus, .btn:active:focus, .btn.active:focus,
.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select .dropdown-toggle:active {outline: none !important;}
.upper{text-transform:uppercase}
#cropModal .wrapper {max-width: 800px;margin: 0 auto;text-align: center;}
#cropModal .wrapper img {max-width: 100%}
#cropModal .jcrop-holder img{max-width:none}
#targetCanvas{position:absolute;z-index:-1;left:-10000px}
.file-dialog {position: fixed;left: 0;top: 0;opacity: 0;z-index: 1;}
.jcrop-holder{direction:ltr;text-align:left}
.jcrop-vline,
.jcrop-hline{background:#fff url(Jcrop.gif);font-size:0;position:absolute}
.jcrop-vline{height:100%;width:1px!important}
.jcrop-vline.right{right:0}
.jcrop-hline{height:1px!important;width:100%}
.jcrop-hline.bottom{bottom:0}
.jcrop-tracker{-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none;-webkit-user-select:none;height:100%;width:100%}
.jcrop-handle{background-color:#333;border:1px #EEE solid;font-size:1px;height:7px;width:7px}
.jcrop-handle.ord-n{left:50%;margin-left:-4px;margin-top:-4px;top:0}
.jcrop-handle.ord-s{bottom:0;left:50%;margin-bottom:-4px;margin-left:-4px}
.jcrop-handle.ord-e{margin-right:-4px;margin-top:-4px;right:0;top:50%}
.jcrop-handle.ord-w{left:0;margin-left:-4px;margin-top:-4px;top:50%}
.jcrop-handle.ord-nw{left:0;margin-left:-4px;margin-top:-4px;top:0}
.jcrop-handle.ord-ne{margin-right:-4px;margin-top:-4px;right:0;top:0}
.jcrop-handle.ord-se{bottom:0;margin-bottom:-4px;margin-right:-4px;right:0}
.jcrop-handle.ord-sw{bottom:0;left:0;margin-bottom:-4px;margin-left:-4px}
.jcrop-dragbar.ord-n,
.jcrop-dragbar.ord-s{height:7px;width:100%}
.jcrop-dragbar.ord-e,
.jcrop-dragbar.ord-w{height:100%;width:7px}
.jcrop-dragbar.ord-n{margin-top:-4px}
.jcrop-dragbar.ord-s{bottom:0;margin-bottom:-4px}
.jcrop-dragbar.ord-e{margin-right:-4px;right:0}
.jcrop-dragbar.ord-w{margin-left:-4px}
.jcrop-light .jcrop-vline,
.jcrop-light .jcrop-hline{background:#FFF;filter:alpha(opacity=70)!important;opacity:.70!important}
.jcrop-light .jcrop-handle{-moz-border-radius:3px;-webkit-border-radius:3px;background-color:#000;border-color:#FFF;border-radius:3px}
.jcrop-dark .jcrop-vline,
.jcrop-dark .jcrop-hline{background:#000;filter:alpha(opacity=70)!important;opacity:.7!important}
.jcrop-dark .jcrop-handle{-moz-border-radius:3px;-webkit-border-radius:3px;background-color:#FFF;border-color:#000;border-radius:3px}
.solid-line .jcrop-vline,
.solid-line .jcrop-hline{background:#FFF}
.jcrop-holder img,
img.jcrop-preview{max-width:none}
.isMobile #divWebcam video{opacity:0;visibility:hidden;position:absolute;left:0;top:0}
.isMobile .jcrop-handle{height:17px;width:17px}
.isMobile .jcrop-handle.ord-n{margin-left:-9px;margin-top:-9px}
.isMobile .jcrop-handle.ord-s{margin-bottom:-9px;margin-left:-9px}
.isMobile .jcrop-handle.ord-e{margin-right:-9px;margin-top:-9px}
.isMobile .jcrop-handle.ord-w{margin-left:-9px;margin-top:-9px}
.isMobile .jcrop-handle.ord-nw{margin-left:-9px;margin-top:-9px}
.isMobile .jcrop-handle.ord-ne{margin-right:-9px;margin-top:-9px}
.isMobile .jcrop-handle.ord-se{margin-bottom:-9px;margin-right:-9px}
.isMobile .jcrop-handle.ord-sw{margin-bottom:-9px;margin-left:-9px}
.isMobile .jcrop-dragbar.ord-n,
.isMobile .jcrop-dragbar.ord-s{height:17px}
.isMobile .jcrop-dragbar.ord-e,
.isMobile .jcrop-dragbar.ord-w{width:17px}
.isMobile .jcrop-dragbar.ord-n{margin-top:-9px}
.isMobile .jcrop-dragbar.ord-s{margin-bottom:-9px}
.isMobile .jcrop-dragbar.ord-e{margin-right:-9px}
.isMobile .jcrop-dragbar.ord-w{margin-left:-9px}
#header{height:50px;background:#111}
#header > .container{position:relative;height:100%}
#logo{background:url('../images/logo.png') no-repeat center scroll;background-size:cover;width:91px;height:22px;line-height:1;margin:8px 0 0 0;padding:0;font-size:0}
#btnMenu{position:absolute;width:40px;height:30px;right:15px;top:5px}
#btnMenu span{display:block;height:5px;background:#24abe2;margin:4px 0}
.main-menu{position:absolute;right:15px;top:100%;padding:0px;background:#fff;border-radius:8px;border:solid 2px #24abe2;overflow:hidden;-webkit-transition:all 0.3s linear;transition:all 0.3s linear;-webkit-transform:translate3d(0,-20px,0) scale3d(-1,1,1);transform:translate3d(0,-20px,0) scale3d(-1,1,1);opacity:0;visibility:hidden}
.main-menu ul{list-style:none;margin:0;padding:0}
.main-menu li a{display:block;padding:10px 15px;font-family:'UTMAvo'}
.main-menu li a:hover,
.main-menu li .active{background:#24abe2;color:#fff}
.open-menu .main-menu{-webkit-transform:translate3d(0,0,0) scale3d(1,1,1);transform:translate3d(0,0,0) scale3d(1,1,1);opacity:1;visibility:visible}
.open-menu #btnMenu span{background:#666;border-radius:2px}
#footer{color:#fff;background:#111;padding:15px 0}
#footer a{color:#fff}
#footer p{margin:0}
#wrapper {width: 100%}
#main > div {height: 100%;position: relative;}
.main-app {background: #fefefe;min-height: 100%}
.stage-wrapper {overflow: auto;background: #999;padding:0;text-align: center;padding: 20px;}
#savestage{margin:0 auto;position:relative;overflow:auto;font-size: 0;display: inline-block;box-shadow: 0 0 5px rgba(0,0,0,0.4);-webkit-transform-origin:0 0;transform-origin:0 0;}
#savestage canvas {cursor: move;}
.toolbar-wrapper .nav {padding: 2px 0;}
.toolbar-wrapper .nav .btn-group {margin: 0;}
.toolbar-wrapper .nav .btn-group + .btn-group {border-left: solid 1px #ebebeb;}
.toolbar-wrapper .btn {text-align: center;padding: 6px 12px;}

.modal-header {}
.modal-header h3 {margin: 0;}
.upload-area{padding:15px;border:solid 1px #eee;text-align:center;margin:15px 0;position:relative}
.upload-area > div{padding:15px;border:solid 1px transparent}
.drag-area {margin: 0 auto 15px;border-radius: 10px;}
.drag-area.hover{border:dashed 1px #ff5860}
.upload-area.added{background:#eee}
.upload-area.full{opacity:0.8;cursor:not-allowed}
.upload-area.full::before{content:'';display:block;z-index:2;position:absolute;left:0;right:0;top:0;bottom:0;background:rgba(255,255,255,0.8);line-height:200px}
.upload-area p{font-size:14px;color:#666}
.upload-area .btn{position:relative}
.upload-area input{opacity:0;position:absolute;left:0;right:0;width:100%;bottom:0;top: 0;}
.upload-area input.active{opacity:1}
.edit-area ul{padding:0;margin:0;list-style:none;font-size:0;margin:10px auto}
.edit-area ul li{overflow:hidden;margin:5px;cursor:pointer;display: inline-block;vertical-align: top;}
.edit-area ul li.sortable-chosen{box-shadow:0 0 2px 0px rgba(0,0,0,0.5);background:rgba(255,255,255,0.8);cursor:move}
.edit-area ul li a:hover{border-color:#ff5860}
.edit-area ul a{display:block;background:#eee;text-align:center;padding:10px;border-radius:5px;overflow:hidden;height:150px;width:150px;line-height:150px;vertical-align:middle;position:relative;z-index:1;border:solid 1px #333}
.edit-area ul a img{max-width:100%;position: absolute;left: 0;top: 0;pointer-events: none;}
.edit-area ul a label{opacity:0;position:absolute;z-index:3;left:0;right:0;bottom:0;top:auto;height:30px;margin:0;color:#333;line-height:30px;font-size:0;background:rgba(255,255,255,0.9);pointer-events: none;}
.edit-area label i{font-size:16px;display:inline-block;vertical-align:middle;width:50%;text-align:center;pointer-events: none;}
.edit-area ul a canvas{position:absolute;left:0;right:0;top:0;bottom:0;background:#999;box-shadow:0 0 0 400px #333;width:100%;pointer-events: none;}
.edit-area ul a:hover label{opacity:1}

.modal-dialog {margin: 10px auto}
.modal-small {max-width: 40%}
.modal-small .modal-header {padding: 14px 14px 0}
.modal-small .modal-header h3 {margin: 0;font-size: 14px;}
.modal-small .modal-body {padding: 14px;}
.modal-normal {max-width: 60%}
.modal-large {max-width: 80%}
.has-error {color: #a94442 !important}

.pop-message .img-result {max-width: 100%}
.pop-message .modal-footer {text-align: center;}

.loading-overlay {position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: -1;visibility: hidden;opacity: 0;-webkit-transition:all 0.3s linear;transition:all 0.3s linear;background: rgba(255,255,255,0.7)}
.loading-overlay.show {z-index: 10000;visibility: visible;opacity: 1;}
.loading-overlay .loading {width: 100px;height: 100px;border: solid 4px #000;border-radius: 50%;position: absolute;left: 50%;top: 50%;margin-left: -50px;margin-top: -50px;background: #fff;}
.loading-overlay.show .loading {-webkit-animation:loading 1s linear infinite ;animation:loading 1s linear alternate infinite ;}
@-webkit-keyframes loading{
    20%{border-radius:50% 5% 50% 50%;border-color: rgb(255,0,0)}
    40%{border-radius:50% 50% 5% 50%;border-color: rgb(0,255,0)}
    60%{border-radius:50% 50% 50% 5%;border-color: rgb(0,0,255)}
    80%{border-radius:5% 50% 50% 50%; border-color: rgb(0,0,0)}
    100%{border-radius:50%}
}
@keyframes loading{
    20%{border-radius:50% 5% 50% 50%;border-color: rgb(255,0,0)}
    40%{border-radius:50% 50% 5% 50%;border-color: rgb(0,255,0)}
    60%{border-radius:50% 50% 50% 5%;border-color: rgb(0,0,255)}
    80%{border-radius:5% 50% 50% 50%; border-color: rgb(0,0,0)}
    100%{border-radius:50%}
}

.window-panel {position: absolute;right: 0; top:0;width:300px;max-height:300px; margin:0; background: #fff;-webkit-transition:all 0.3s linear;transition:all 0.3s linear;}
.window-panel .panel-heading {border-radius: 0;position: relative;cursor: move;}
.window-panel .panel-heading .close {position: absolute;color: #fff;opacity: 1;right: 15px;top: 6px;font-weight: 300}
.window-panel .panel-body {-webkit-transition:all 0.3s linear;transition:all 0.3s linear;position: relative;top: 0;bottom: 0;left: 0;right: 0;overflow-y: auto;background: #eee;box-shadow: 0 0 1px 0px rgba(0,0,0,0.1) inset;max-height: 0;padding: 0}
.window-panel.show .panel-body {max-height: 300px;padding: 15px;}
.window-panel .form-group {font-size: 0;margin: 0;padding: 10px 15px;}
.window-panel .form-control,
.window-panel .caption {display: inline-block;vertical-align: middle;margin: 0 0 10px;}
.window-panel .effect-option {display: none;}
.window-panel .effect-option.show {display: block;}

.layers-panel {}
.layers-panel .layer {padding: 4px;border: solid 1px #999;border-left:dotted 4px #666;background:#ccc;color: #000;font-size: 12px;font-weight: 700;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;cursor: pointer;}
.layers-panel .layer.editing {border: solid 1px #ff5722;border-left:dotted 4px #ff5722;cursor: text;}
.layers-panel .layer.selected {background: #333;color: #fff;}


input[type="range"] {
  -webkit-appearance: none !important;
  width: 100%;
  height: 4px;
  background-color: #4caf50;
  border-radius: 10px;
  margin: auto;
  -webkit-transition: all 0.3s ease;transition: all 0.3s ease;
}
input[type="range"]:hover {
  background-color: #b2d5aa;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width: 14px;
  height: 14px;
  background-color: #4caf50;
  border-radius: 30px;
  box-shadow: 0px 0px 3px #4caf50;
  transition: all 0.5s ease;
}
input[type="range"]::-webkit-slider-thumb:hover {
  background-color: #457d66;
}
input[type="range"]::-webkit-slider-thumb:active {
  box-shadow: 0px 0px 1px #4caf50;
}

@media screen and (min-width:320px){
}
@media screen and (min-width:480px){
}
@media screen and (max-width:480px){
}
@media screen and (min-width:480px) and (max-width:991px){
}
@media screen and (min-width:640px){
}
@media screen and (max-width:767px){
}
@media screen and (min-width:768px){
}
@media screen and (max-width:991px){
}
@media screen and (min-width:768px) and (max-width:991px){

}
@media screen and (min-width:992px){
    #header{height:48px;position:relative;z-index:100}
    #logo{display:none}
    #btnMenu{display:none}
    #header .logo{display:inline-block;width:100%;height:44px;margin:0 auto;max-width:182px;background:url('../images/logo.png') no-repeat center;background-size:100%}
    .main-menu{background:none;position:relative;top:0;right:auto;border-radius:0;border:none;opacity:1;visibility:visible;-webkit-transform:translate3d(0,0,0) scale3d(1,1,1);transform:translate3d(0,0,0) scale3d(1,1,1)}
    .main-menu ul{display:table;width:100%;height:72px}
    .main-menu ul li{display:table-cell;width:20%;vertical-align:middle;text-align:center}
    .main-menu a{text-transform:uppercase;color:#333;font-size:14px;white-space:nowrap}
    .main-menu li a:hover,
    .main-menu li .active{background:none;color:#24abe2}
    #footer{line-height:40px;height:40px;padding:0;font-size:13px}
    
}
@media screen and (min-width:992px) and (max-width:1199px){
}
@media screen and (min-width:1200px){
}